<form class="my-3" method="POST" action="/courses/handle-form-actions">
    <h3>My Course</h3>
    <div class="d-flex justify-content-between align-items-center">
        <a href="/me/trash/courses" class="text-decoration-none">Trash ({{deletedCount}})</a>
        <a href="/courses/create" class="btn btn-primary">Create new course</a>
    </div>

    <div class="mt-3 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="selectAll">
            <label class="form-check-label" for="selectAll">
                Select all
            </label>    
        </div>

        <select class="form-select form-select-sm w-auto mx-2" name="action" required>
            <option value="">-- Action --</option>
            <option value="delete">Delete</option>
        </select>

        <button class="btn btn-sm btn-primary btn-apply-checkall disabled">Apply</button>
    </div>

    <div class="table-responsive">
        <table class="table mt-3">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th scope="col">#</th>
                    <th scope="col">
                        Course name
                        {{{sortable 'name' _sort}}}
                    </th>
                    <th scope="col">
                        Level
                        {{{sortable 'level' _sort}}}
                    </th>
                    <th scope="col">
                        Created date
                        {{{sortable 'createdAt' _sort}}}
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <td>
                        <div>
                            <input class="form-check-input" name="courseIds[]" value="{{this._id}}" type="checkbox">
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
                        <a class="btn btn-link link-danger" data-bs-id="{{this._id}}" data-bs-toggle="modal"
                            data-bs-target="#delCourse">
                            Delete
                        </a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        You haven't created any courses.
                        <a href="/courses/create" class="text-decoration-none">Create now</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>

{{!-- Confirm delete course --}}
<div class="modal fade" tabindex="-1" id="delCourse">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this course?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-del-course" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{!-- Hidden delete form --}}
<form method="POST" name="del-course-form"></form>

{{!-- Handle delete course --}}
<script>
    var btnDelCourse = document.getElementById('btn-del-course');
    var delCourseForm = document.forms['del-course-form'];
    var courseId;
    var delCourse = document.getElementById('delCourse');
    var selectAll = document.querySelector('#selectAll');
    var courseItemsChecked = document.querySelectorAll('input[name="courseIds[]"]');
    var checkAllSubmitBtn = document.querySelector('.btn-apply-checkall');

    //get course id when delete-course-btn clicked
    delCourse.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        courseId = button.getAttribute('data-bs-id');
    })
    //submit form to delete when delete-course-btn clicked
    btnDelCourse.onclick = function() {
        delCourseForm.action = '/courses/' + courseId + '?_method=DELETE';
        delCourseForm.submit();
    }

    //checkbox select-all clicked
    selectAll.onchange = function(e) {
        var isCheckedAll = e.target.checked;        
        for(var i = 0; i < courseItemsChecked.length; i++) {
            courseItemsChecked[i].checked = isCheckedAll;
        }
        renderCheckAllSubmitBtn();
    }
    //course item checkbox changed
    courseItemsChecked.forEach(item => {
        item.onchange = function() {
            const isCheckedAll = courseItemsChecked.length === document.querySelectorAll('input[name="courseIds[]"]:checked').length;
            selectAll.checked = isCheckedAll;

            renderCheckAllSubmitBtn();
        }
    })
    //re-render check all submit button
    function renderCheckAllSubmitBtn() {
        var checkedCount = document.querySelectorAll('input[name="courseIds[]"]:checked').length;
        if (checkedCount > 0) {
            checkAllSubmitBtn.classList.remove('disabled')
        } else {
            checkAllSubmitBtn.classList.add('disabled')
        }
    }
</script>