<div class="my-3">
    <a href="/me/stored/courses" class="text-decoration-none">< Back to My Course</a>
    <h3 class="mt-2">Course Deleted</h3>
    <div class="table-responsive">
        <table class="table mt-3">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Created date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Restore</a>
                        <a class="btn btn-link text-danger" data-bs-id="{{this._id}}" data-bs-toggle="modal"
                            data-bs-target="#delCourse">
                            Delete permantely
                        </a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        No courses have been deleted.
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{!-- Confirm delete permantely course  --}}
<div class="modal fade" tabindex="-1" id="delCourse">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete permantely</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This action can not be restored. 
                    Are you sure want to delete this course?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-del-course" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{!-- Hidden restore form --}}
<form method="POST" name="restore-course-form"></form>
{{!-- Hidden delete form --}}
<form method="POST" name="del-course-form"></form>

{{!-- Handle delete course --}}
<script>
    var btnDelCourse = document.getElementById('btn-del-course');
    var delCourseForm = document.forms['del-course-form'];
    var courseId;
    var delCourse = document.getElementById('delCourse');
    var arrayBtn = document.getElementsByClassName('btn-restore');
    var restoreForm = document.forms['restore-course-form'];
    //get course id when delete course btn clicked
    delCourse.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        courseId = button.getAttribute('data-bs-id');
    })
    //delete force when delete course btn clicked
    btnDelCourse.onclick = function() {
        delCourseForm.action = '/courses/' + courseId + '/force?_method=DELETE';
        delCourseForm.submit();
    }

    //restore btn clicked
    for(let i = 0; i < arrayBtn.length; i++) {
        var restoreBtn = arrayBtn[i]

        restoreBtn.addEventListener('click', function (e) {
            e.preventDefault();

            const courseId = this.dataset.id;
            restoreForm.action = `/courses/${courseId}/restore/?_method=PATCH`
            restoreForm.submit();
        })
    }
    
</script>